body {
    display: block;
    width: 100%;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
}

header svg {
    width: 130px;
    height: 50px;
    margin: 150px 520px 0 520px;
}

body h2 {
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    margin: 65px 500px 0 470px;
    letter-spacing: 3px;
    }

h2:after {
    content: '';
    display: block;
    background-color: white;
    height: 1px;
    width: 300px;
    margin: 25px 0 0 -40px;
}

div {
    margin: 45px 0 0 496px;
}

a {
    padding: 0 15px 0 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    color: white;
    margin: 120px 500px 0 470px;
}

span {
    color: royalblue;
}