body {
    display: block;
    width: 70%;
    margin-left: 10%;
}

header {
    background-color: #4A4F56;
    text-align: center;
    color: #E97B7A;
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2%;
}

header p {
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

body dl {
    font-size: 20px;
    color: whitesmoke;
    font-family: Trebuchet, Arial, sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

div {
    background-color: #3D3F45;
    border: 15px cornsilk solid;
}

body dl dd span.small {
    color: #d1cbec;
    font-size: 15px;
}

input:checked+span {
    text-decoration: line-through;
    color: #aaa3c8;
    transition: all .1s ease-in;
}

dl dd {
    background-color: #88839E;
    margin-inline-start: 0px;
}

dl dd:hover {
    background-color: #5241e7;
    margin-inline-start: 0px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
dl dd:active {
    background-color: #a342e4;
    margin-inline-start: 0px;
}

dl dd input {
    margin: 3%;
    width: 18px;
    height: 18px;
}

dl dd.dark {
    background-color: #625E77;
}
dl dd.dark:hover {
    background-color: #5241e7;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
dl dd.dark:active {
    background-color: #a342e4;
}
span.pickles::after {
    content: '(for the next lessons about CSS)';
    color: #d5ccfa;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 15px;
}

span.apples::after {
    content: '(for more CSS manipulation)';
    color: #d5ccfa;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 15px;
}

span.oranges::after {
    content: '(because they are awesome)';
    color: #d5ccfa;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 15px;
}

span.plates::after {
    content: '(hm...they always disappear)';
    color: #d5ccfa;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 15px;
}

span.sake::after {
    content: '(for my friends)';
    color: #d5ccfa;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 15px;
}

.bon {
    background-color: #4A4F56;
    text-align: center;
    padding: 2%;
    color: #E97B7A;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}