body {
    background-color: rgb(250, 238, 238);
    display: flex;
    margin: 15% 10%;
}

div {
    display: block;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #979191;
    font-size: 20px;
    line-height: 25px;
    padding: 0 40px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

svg:hover path.circle1 {
    fill: honeydew;
    stroke: 3px #2a69a6;
}

svg:hover path.icon1 {
    fill: #2a69a6;
}

svg:hover path.circle2 {
    fill: honeydew;
    stroke: 3px #2a69a6;
}

svg:hover path.icon2 {
    fill: #2a69a6;
}

svg:hover path.circle3 {
    fill: honeydew;
    stroke: 3px #2a69a6;
}

svg:hover path.icon3 {
    fill: #2a69a6;
}